
#rick-and-morty-container{
    display: grid;
    place-items: center;
    position: relative;
}
  
  
#rick-and-morty-eyes, #rick-and-morty-eyes img{
    position: absolute;
    border:1px rgba(255, 255, 255, 0);
    border-radius: 50%;
    scale: 103%;
}

#rick-and-morty-container{
    max-height: 10%;
}

#rick-and-morty-anchor{
    scale: 20%;
}
