
#rick-and-morty-container{
    display: grid;
    place-items: center;
    position: relative;
    scale: 20%;
    height: 100px;
    width: 100px;
}
  
  
#rick-and-morty-eyes, #rick-and-morty-eyes img{
    position: absolute;
    border:1px rgba(255, 255, 255, 0);
    border-radius: 50%;
    scale: 103%;
}

#rick-and-morty-container{
    
}